@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Adres">Adres :</abbr><br />Çırçır Mh. Atilla Sk. No:30/6<br />
    34070 Eyüp/İstanbul<br />
    <abbr title="Telefon">Telefon :</abbr><br />(506)2733163<br />
    <abbr title="E-mail">E-mail :</abbr><br />sezermeydanci@gmail.com<br />
    <abbr title="Site">Kişisel Blog :</abbr><br />slnyazilim.com/sezermeydanci/index.html
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:sezermeydanci@gmail.com">Bana e-mail göndermek için buraya tıklayın (E-mail).</a><br />
    <strong>Marketing:</strong> <a href="http://slnyazilim.com/sezermeydanci/index.html">Yayında olan kişisel blog sayfam için buraya tıklayın (Site).</a>
</address>